body {
  margin: 0;
  background-color: rgb(153, 210, 200);
}

.header {
  color: rgb(51, 93, 86);
  font-size: 3rem;
  text-align: center;
}

article {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  align-items: center;
  color: rgb(51, 93, 86);
}

#searchbar {
  width: 12rem;
  border-radius: 8rem;
  box-shadow: 0 3px 6px 0 rgba(33, 33, 33, 0.16);
  background-color: rgb(235, 241, 240);
  font-size: 1rem;
}

.recipe-blurb {
  text-align: center;
}

.get-recipe-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8rem;
  border-width: medium;
  box-shadow: 0 3px 6px 0 rgba(33, 33, 33, 0.16);
  background-color: rgb(235, 241, 240);
  max-width: 8rem;
  margin: auto;
  padding: 0.5rem;
}

.get-recipe-btn:hover {
  background-color: rgb(68, 150, 135);
}

.get-recipe-btn:active {
  background-color: rgb(59, 128, 116);
  box-shadow: 0 1px #363535;
  transform: translateY(4px);
}

.save-recipe-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8rem;
  border-width: medium;
  box-shadow: 0 3px 6px 0 rgba(33, 33, 33, 0.16);
  background-color: rgb(235, 241, 240);
  max-width: 8rem;
  margin: auto;
  padding: 0.5rem;
}

.save-recipe-btn:hover {
  background-color: rgb(68, 150, 135);
}

.save-recipe-btn:active {
  background-color: rgb(59, 128, 116);
  box-shadow: 0 1px #363535;
  transform: translateY(4px);
}

.spinning-btn {
  width: 100%;
  text-align: center;
}

.save-recipe-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8rem;
  border-width: medium;
  box-shadow: 0 3px 6px 0 rgba(33, 33, 33, 0.16);
  background-color: rgb(235, 241, 240);
  max-width: 8rem;
  margin: auto;
  padding: 0.5rem;
}

.save-recipe-btn:hover {
  background-color: rgb(68, 150, 135);
}

.save-recipe-btn:active {
  background-color: rgb(59, 128, 116);
  box-shadow: 0 1px #363535;
  transform: translateY(4px);
}

.clear-recipe-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8rem;
  border-width: medium;
  box-shadow: 0 3px 6px 0 rgba(33, 33, 33, 0.16);
  background-color: rgb(235, 241, 240);
  max-width: 8rem;
  margin: auto;
  padding: 0.5rem;
}

.clear-recipe-btn:hover {
  background-color: rgb(68, 150, 135);
}

.clear-recipe-btn:active {
  background-color: rgb(59, 128, 116);
  box-shadow: 0 1px #363535;
  transform: translateY(4px);
}
