.header {
  font-size: 3rem;
  text-align: center;
}

.navigation ul {
  color: rgb(51, 93, 86);
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.navigation a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.navigation li:hover {
  color: rgb(25, 118, 151);
}
