.header {
  font-size: 3rem;
  text-align: center;
}

.navigation ul {
  color: rgb(51, 93, 86);
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.navigation a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.navigation li:hover {
  color: rgb(25, 118, 151);
}

article {
  box-sizing: border-box;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  align-items: center;
  color: rgb(51, 93, 86);
}

body {
  background-color: rgb(153, 210, 200);
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border-width: medium;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: rgb(123, 192, 179);
  max-width: 400px;
  margin: auto;
  padding: 10px;

  .input-container {
    position: relative;
  }
}

#btn-add-item {
  margin-left: 1rem;
  width: 5rem;
}

#ingredient-input {
  /* width: 100%; */
  width: 15rem;
}

.title {
  text-align: center;
}
